
  .full-window-height {
    height: 100vh; /* Support: http://caniuse.com/#search=vh */
  }
  .video-bg {
    position: relative; /* contain the abs-pos <video> */
    width: 100%;
    overflow: hidden; /* prevent scrollbars */
    /* these below don't matter: */
    /*padding: 10% 0; */
    text-align: center;
    font: bold 40px/1.2 sans-serif;
  }
  .video-bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* keep centered in parent */
    z-index: -1; /* keep video behind other content */
    min-width: 100%; /* always cover horizontal */
    min-height: 100%; /* always cover vertical */
  }
  h1 {
    color: white;
    text-shadow: 2px 2px 10px red;
  }

  body {
      height: auto;
      overflow: auto;
  }
  

.montext {
    text-align: center;
}
.monitor {
    background-color: none;
    font-family: 'Share Tech', sans-serif;
    /* font-size: 1em; */
    color: yellowgreen;
    width: 100%;
    z-index: 0;
}

.blackou {
    padding-top: 10%;
    font-family: 'Share Tech', sans-serif;
    /* font-size: 1em; */
    color: yellowgreen;
    position: absolute;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0%;
    background-color: black;
    z-index: 3;
    opacity: 1;
    text-align: center;
    width: 100%;
    height: 100%;
    text-overflow: hidden;
    overflow: auto;
}


.currSel {
    background: rgba(0, 200, 0, 0.30);
    border-style: dashed;
    border-color: yellowgreen;
    border-width: 2px;
    /* margin-left: 2em; */
    /* font-size: 1em; */
    width: 100%;
}

.mainWerd {
    /* font-size: 1em; */
    font-weight: bold;
    border-style: dashed;
    border-color: yellowgreen;
    border-width: 3px; 
    margin-bottom: 1em;
    background: rgba(0, 200, 0, 0.30);

}

.sysUp {
    font-weight: bold;

}

.botBor {
    border-bottom-style: dashed;
    border-bottom-color: yellowgreen;
    border-bottom-width: 2px; 
}

.topBor {
    border-top-style: dashed;
    border-top-color: yellowgreen;
    border-top-width: 2px; 
    /* margin: 1em; */
}

.botPad {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.hint {
    font-size: 1.5em;
}
#hintButt {
    background: rgba(0, 200, 0, 0.30);
    border: 4px;
    border-style: double;
    border-color: yellowgreen;
    height: inherit;
    border-radius: 15px;
    text-shadow: 2px 2px 10px grey;
}
.hintHint {
    border: 2px;
    border-style: groove;
    border-color: yellowgreen;
    height: inherit;
}
.hintHintButt {
    background: rgba(0, 200, 0, 0.30);
    border: 4px;
    border-style: double;
    border-color: yellowgreen;
    height: inherit;
    width: 85%;
    padding: 0;
    margin:0;
    display: inline-block;
    font-size:1em;
    border-radius: 15px;
    text-shadow: 2px 2px 10px grey;
}

#instructions {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    text-overflow: hidden;
    overflow: auto;
}
#typeHere {
    font-size: 1.5em;
    text-align: center;
    overflow: auto;
    text-overflow: auto;
}

.footer {
    color: yellowgreen;
    background-color: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: inherit;
    padding-top: 10em;
    z-index: 10;
}